<div class="row">
    <div class="col-6">
        <nb-select placeholder="Select Subject" [(ngModel)]="subjectId">
            <nb-option on *ngFor="let y of SubjectList" value="{{y.docId}}">{{y.subject_name}}</nb-option>
        </nb-select>
    </div>
    <div class="col-2">
        <button nbButton outline (click)="Add()"> Add</button>
    </div>
    <div class="col-2">
        <button nbButton outline (click)="Update()" [disabled]="!newTopic ">
            Update</button>
    </div>

    <div class="col-2">
        <button nbButton outline (click)="deleteConfirm()" [disabled]="!newTopic ">
            Delete</button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-1">
                        <nb-checkbox></nb-checkbox>
                    </div>
                    <div class="col-3">Title</div>
                    <div class="col-8">Description</div>
                </div>
                <hr />
                <div *ngIf="TopicList">
                    <div class="row" *ngFor="let topic of TopicList">
                        <div class="col-12"  *ngIf="subjectId ? (subjectId== topic.subject_id) : 'true'">
                            <div class="row">
                                <div class="col-1" >
                                    <nb-checkbox [(ngModel)]="topic.selected" (checkedChange)="checked(topic)" ></nb-checkbox>
                                </div>
                                <div class="col-3">{{topic.topic_title}}</div>
                                <div class="col-8">{{topic.topic_description}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row " *ngIf="TopicList && TopicList.length <= 0">
                    <div class="col-12 textAlign">
                        No data found
                    </div>
                </div>
                <hr />
            </nb-card-body>
        </nb-card>
    </div>
</div>