app-new-flashcard{
    .rightSide{
        float:right
    }

    .popUpCard{
        max-height: 80%;
        max-width: 60%;
        margin: auto;
        margin-top: 9%;
    }
    nb-card-body{
        input{
            margin-top:10px
        }
        textarea{
            margin-top:10px
        }
    }
}