<nb-card class="popUpCard">
        <nb-card-header></nb-card-header>
        <nb-card-body>
                <nb-select fullWidth [(selected)]="newFlashcard.topicId" placeholder="Select Flashcard" >
                    <nb-option on *ngFor="let x of items" value="{{x.docId}}">{{x.topic_title}}</nb-option>
                </nb-select>
            <input type="text" nbInput [(ngModel)]="newFlashcard.front" fullWidth status="basic" placeholder="front">
            <input type="text" nbInput [(ngModel)]="newFlashcard.back" fullWidth status="basic" placeholder="back">
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="close()">Close </button>
            <button nbButton status="success" class="rightSide" (click)="submitNewPoint(ref)">Submit</button>
        </nb-card-footer>
    </nb-card>