<nb-card>
    <nb-card-header></nb-card-header>
    <nb-card-body>
        <input type="text" nbInput [(ngModel)]="newApplication.application_name" fullWidth status="basic" placeholder="App Name">
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="close()">Close </button>
        <button nbButton status="success" class="rightSide" (click)="submitNewPoint(ref)">Submit</button>
    </nb-card-footer>
</nb-card>