<nb-card class="popUpCard">
    <nb-card-header></nb-card-header>
    <nb-card-body>
        <div class="row">

            <div class="col-12">
                <nb-select fullWidth [(selected)]="newTopic.subject_id" [(ngModel)]="newTopic.subject_id" placeholder="Select Subject">
                    <nb-option on *ngFor="let y of SubList" value="{{y.docId}}">{{y.subject_name}}</nb-option>
                </nb-select>
            </div>

            <div class="col-12">
                <input type="text" nbInput [(ngModel)]="newTopic.topic_title" fullWidth status="basic"
                    placeholder="Subject Name">
            </div>
            <div class="col-12">
                <textarea nbInput [(ngModel)]="newTopic.topic_description" fullWidth status="basic"
                    placeholder="Course Sumarry"></textarea>
            </div>
            <div class="col-12 overflowClass">
                <div class="" *ngFor="let v of items">
                    <nb-checkbox [(ngModel)]="v.parentsselected" *ngIf="newTopic.subject_id ? (!(v.docId==newTopic.docId) && (newTopic.subject_id==v.subject_id)) : 'true'"
                        (checkedChange)="AddRemoveParents(v)">{{v.topic_title}}
                    </nb-checkbox>
                </div>
            </div>
        </div>





        <!-- <textarea nbInput [(ngModel)]="newTopic.overview" fullWidth status="basic" placeholder="Subject Overview"></textarea> -->
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="close()">Close </button>
        <button nbButton status="success" class="rightSide" (click)="submitNewPoint(ref)">Submit</button>
    </nb-card-footer>
</nb-card>