<div class="row">

    <div class="col-6">
        <nb-select placeholder="Select Application" [(ngModel)]="appId">
            <nb-option on value="">All</nb-option>
            <nb-option on *ngFor="let x of applicationList" value="{{x.docId}}">{{x.application_name}}</nb-option>
        </nb-select>
    </div>
    <div class="col-2">
        <button nbButton outline (click)="Add()"> Add</button>
    </div>
    <div class="col-2">
        <button nbButton outline (click)="Update()" [disabled]="!newSubject "> Update</button>
    </div>

    <div class="col-2">
        <button nbButton outline (click)="deleteConfirm()" [disabled]="!newSubject "> Delete</button>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-1">
                        <nb-checkbox></nb-checkbox>
                    </div>
                    <div class="col-3">Subject</div>
                    <div class="col-4">Cource Details</div>
                    <div class="col-4">Overview</div>
                </div>
                <hr />
                

                <div class="row" *ngFor="let subject of SubjectList">
                    <div class="col-12">
                        <div class="row" *ngIf="appId ? (appId == subject.application_id) : 'true'">
                            <div class="col-1">
                                <nb-checkbox value="{{subject.selected}}" (checkedChange)="checked(subject)"></nb-checkbox>
                            </div>
                            <div class="col-3">{{subject.subject_name}}</div>
                            <div class="col-4">{{subject.courseDetails}}</div>
                            <div class="col-4">{{subject.overview}}</div>
                        </div>
                    </div>
                    
                </div>
                <div class="row " *ngIf="SubjectList && SubjectList.length <= 0">
                    <div class="col-12 textAlign">
                        No data found
                    </div>
                </div>
                <hr />
            </nb-card-body>
        </nb-card>
    </div>
</div>