<div class="row">
        <div class="col-6">
                <nb-select placeholder="Select Topic" [(ngModel)]="topicId" >
                    <nb-option on *ngFor="let y of TopicList" value="{{y.docId}}">{{y.topic_title}}</nb-option>
                </nb-select>
            </div>
        <div class="col-2">
            <button nbButton outline (click)="Add()"> Add</button>
        </div>
        <div class="col-2">
            <button nbButton outline (click)="Update()" [disabled]="!newFlashcard"> Update</button>
        </div>
    
        <div class="col-2">
            <button nbButton outline (click)="deleteConfirm()" [disabled]="!newFlashcard"> Delete</button>
        </div>
    </div>
    <br/>
    
    <div class="row">
        <div class="col-12">
            <nb-card>
                <nb-card-body>
                    <div class="row">
                        <div class="col-1">
                            <nb-checkbox></nb-checkbox>
                        </div>
                        <div class="col-3">Title</div>
                        <div class="col-8">Description</div>
                    </div>
                    <hr />
                    <div class="row" *ngFor="let flash of FlashcardList">
                        <div class="col-12">
                            <div class="row" *ngIf="topicId ?  (topicId == flash.topicId) : 'true'">
                                <div class="col-1">
                                    <nb-checkbox value="{{flash.selected}}" (checkedChange)="checked(flash)"></nb-checkbox>
                                </div>
                                <div class="col-3">{{flash.front}}</div>
                                <div class="col-8">{{flash.back}}</div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row " *ngIf="FlashcardList && FlashcardList.length <= 0">
                        <div class="col-12 textAlign">
                            No data found
                        </div>
                    </div>
                    <hr />
                </nb-card-body>
            </nb-card>
        </div>
    </div>