<nb-card class="popUpCard">
    <nb-card-header></nb-card-header>
    <nb-card-body>
            <nb-select fullWidth [(selected)]="newSubject.application_id" placeholder="Select Topic" >
                <nb-option on *ngFor="let x of items" value="{{x.docId}}">{{x.application_name}}</nb-option>
            </nb-select>
        <input type="text" nbInput [(ngModel)]="newSubject.subject_name" fullWidth status="basic" placeholder="Subject Name">
        <textarea nbInput [(ngModel)]="newSubject.courseDetails" fullWidth status="basic" placeholder="Course Sumarry"></textarea>
        <textarea nbInput [(ngModel)]="newSubject.overview" fullWidth status="basic" placeholder="Subject Overview"></textarea>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="close()">Close </button>
        <button nbButton status="success" class="rightSide" (click)="submitNewPoint(ref)">Submit</button>
    </nb-card-footer>
</nb-card>