<div class="row">
    <div class="col-4">
        <button nbButton outline (click)="Add()"> Add</button>
    </div>


    <div class="col-4">
        <button nbButton outline (click)="Update()" [disabled]="!newApplication "> Update</button>
    </div>

    <div class="col-4">
        <button nbButton outline (click)="deleteConfirm()" [disabled]="!newApplication"> Delete</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-2">
                        <nb-checkbox></nb-checkbox>
                    </div>
                    <div class="col-4">App ID</div>
                    <div class="col-6">App Name</div>
                </div>
                <hr />
                <div class="row" *ngFor="let app of applicationList">

                    <div class="col-2">
                        <nb-checkbox value="{{app.selected}}" (checkedChange)="checked(app)"></nb-checkbox>
                    </div>
                    <div class="col-4">{{app.docId}}</div>
                    <div class="col-6">{{app.application_name}}</div>
                </div>
                <div class="row " *ngIf="applicationList && applicationList.length <= 0">
                    <div class="col-12 textAlign">
                        No data found
                    </div>
                </div>
                <hr />
            </nb-card-body>
        </nb-card>
    </div>
</div>